<footer>
  <div class="f-info">
    <div class="f-info-socials">
      <a
        href="https://www.facebook.com/profile.php?id=100075713056154"
        target="_blank"
        rel="noopener noreferrer"
      >
        <i class="fa-brands fa-square-facebook" style="color: #1877f2"></i>
      </a>

      <a
        href="https://www.instagram.com/omkar__maurya_51"
        target="_blank"
        rel="noopener noreferrer"
      >
        <i class="fa-brands fa-square-instagram" style="color: #e1306c"></i>
      </a>

      <a
        href="https://www.linkedin.com/in/omkar-maurya1"
        target="_blank"
        rel="noopener noreferrer"
      >
        <i class="fa-brands fa-linkedin" style="color: #0a66c2"></i>
      </a>
    </div>
    <div class="f-info-brand">&copy;Wandeo &nbsp;Private &nbsp;Limited</div>
    <div class="f-info-links">
      <a href="/Privacy">Privacy</a>&nbsp;&nbsp;&nbsp;&nbsp;
      <a href="/Terms">Terms</a>
    </div>
  </div>
</footer>
