<% layout("./layouts/boilerplate")%>

<div class="d-flex justify-content-center align-items-center">
  <div class="p-3">
    <h2>Privacy Policy</h2>
    <p>Welcome to Wandeo. Your privacy is important to us.</p>

    <h4>Data Collected</h4>
    <p>
      We collect your name, email, phone number, payment details, and address
      for booking purposes.
    </p>

    <h4>Purpose</h4>
    <p>
      We use your data to facilitate bookings, process payments, and provide
      customer support.
    </p>

    <h4>Data Sharing</h4>
    <p>
      Your data is shared only with trusted third parties such as payment
      providers.
    </p>

    <h4>Security</h4>
    <p>We use secure encryption and access controls to keep your data safe.</p>

    <h4>Your Rights</h4>
    <p>
      You can request to view, update, or delete your personal data by
      contacting us.
    </p>

    <p>
      Contact:
      <a
        href="https://mail.google.com/mail/?view=cm&to=support@wandeo.com"
        target="_blank"
        style="text-decoration: none; color: blue"
        >support@wandeo.com</a
      >
    </p>
  </div>
</div>
