<% layout("./layouts/boilerplate")%>

<div class="d-flex justify-content-center align-items-center">
  <div class="p-3">
    <h2>Terms and Conditions</h2>
    <p>
      Welcome to Wandeo. By using our platform, you agree to the following terms
      and conditions:
    </p>

    <h4>1. Use of the Platform</h4>
    <p>
      Wandeo is a property listing and booking platform. You agree to use it
      only for lawful purposes.
    </p>

    <h4>2. User Accounts</h4>
    <p>
      When creating an account, you must provide accurate and complete
      information. You are responsible for keeping your account secure.
    </p>

    <h4>3. Booking and Payments</h4>
    <p>
      All bookings are subject to availability. Payments must be made through
      our trusted payment gateway.
    </p>

    <h4>4. User Conduct</h4>
    <p>
      You agree not to post inappropriate content, engage in fraudulent
      activity, or violate others' rights.
    </p>

    <h4>5. Termination</h4>
    <p>
      We reserve the right to suspend or terminate your account if you violate
      these terms.
    </p>

    <h4>6. Updates</h4>
    <p>
      We may update these terms from time to time. Continued use of Havenix
      indicates acceptance of the new terms.
    </p>

    <h4>7. Contact Us</h4>
    <p>
      If you have any questions, contact us at
      <a
        href="https://mail.google.com/mail/?view=cm&to=support@wandeo.com" target="_blank"
        style="text-decoration: none; color: blue"
        >support@wandeo.com</a
      >
    </p>
  </div>
</div>
